
@font-face {
    font-family: "IRANSANS";
    src: url(../components/assets/font/IRANSANS.ttf) ;
  
  
  }
  *{
    font-family: IRANSANS;
  
   
  }
  body {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
  
  }