.topproduct {
  .heading {
    text-align: left;
  }
  .head {
    @include flex(center, space-between, center);
  }
  .category {
    margin-top: 5%;
    display:flex;
    justify-content:start;
    float:"left";
    @extend .head;
    width: 50%;
    button {
      margin-left: 20px
    }
  }
}
